/* --------------BODY PART ----------------*/
body{
    font-family: 'Poppins', sans-serif;
}

.fas { color: floralwhite;
    padding-left: 3px;
    padding-top: 5px;

}
p{
    color: dimgray;
}

h3{
    font-size: 25px;
}
/* -------------- Banner  ----------------*/

 .cover{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 677px;
    background-color:  #2D25A0;
    
}

.cover-title h1{
    font-size: 60px;
    color: white;
}

.button {
    align-items: flex-start;
    padding:0px;
    border: 0px;
    width: 168px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
}


.cover-image{
    width: 556px;
    height: 438px;

}
/* -------------- Players Part----------------*/


#container{
    padding-top: 43px;
    padding-bottom: 165px ;
}

.players{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    width: 1050px;
    height: 474px;
    padding: 27px 210px 0px 180px;
    align-items: center;
    
}

.player{
    width: 330px;
    height: 474px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border: 2px black;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-info{
    width: 300px;
    height: 154px;
    padding: 0px 15px 33px 15px;


}


.player-image{
    height: 256px;
    width: 300px;
    padding: 15px 15px 16px 15px;

}


/* -------------- Highlight Part----------------*/







.highlight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 427px;
    padding-bottom: 20px;
    
}

.highlight-image{
    width: 567px;
    height: 427px;
    
    padding-left: 35px;
}

.highlight-title{
    width: 466px;
    height: 309px;
    padding-right: 34px;

}

.highlight-title h1{
    font-size: 50px;
    margin-bottom: 0px;

}

.highlight-title p{
    size: 20px;
}


/* -------------- Footer Part----------------*/



.footer{
    width: 483px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 478px;

}


footer img{
    width: 483.87px;
    height: 110px;
    
}

.footer-anchor{
    display: flex;
    flex-direction: row;
   
    
}

.fa-youtube{
    color: red;
}

.fa-twitter{
    color:rgb(0, 183, 255);
    padding-right: 10px;
}

.fa-instagram{
  color:#3f729b;
  padding-right: 10px;
}
.fa-facebook{
    color: blue;
    padding-right: 10px;
}

.copyright{
    font-size: 25px;
}

/* --------------------------
--------Media Query----------
--------------------------- */

/* -----Moblie Devices----- */


@media only screen and (max-width: 688px) {
    /* body {
      background-color: lightblue;
    } */
    .cover{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 360px;
        height: 695px;
        
        /* flex-wrap: wrap; */
    }
    .cover-title h1{
        font-size: 30px;
        margin: 5px;


    }
    .cover-image img{
        width: 329px;
        height: 256px;
        
        
    }
    .player-image{
        height: 256px;
        width: 300px;
        padding: 0px;
    
    
        
    }
    
    
    .players{
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
        height: 100%;
        
    }
    
    
    .player{
        display: flex;
        flex-direction: column;
        padding: 15px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        
    }
    
    .player-info{
        width: 300px;
        height: 154px;
      
    }
    .player-info h3{
        font-size: 25px;
    }
    .player-info p{
        font-size: 15px;
    }

    .highlight{
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
        height: 100%;
        
        
    }
    
    .highlight-image img{
        width: 328px;
        height: 248px;
        padding: 0px;
    }

    .highlight-image {
        width: 328px;
        height: 248px;
        padding: 10px;
    }
    
    .highlight-title{
        width: 329px;
        height: 299px;
        padding: 0px;
        
    }
    
    .highlight-title h1{
        font-size: 30px;
        margin-bottom: 0px;
    
    }
    
    .highlight-title p{
        size: 10px;
        margin: 5px;

    }
    





    .footer{
        width: 260px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    
    }
    
    
    footer img{
        width: 260px;
        height: 63px;
        
    }
    
    .footer-anchor{
        display: flex;
        flex-direction: row;
       
        
    }
    
    .fa-youtube{
        color: red;
    }
    
    .fa-twitter{
        color:rgb(0, 183, 255);
        }
    
    .fa-instagram{
      color:#3f729b;
      
    }
    .fa-facebook{
        color: blue;
        
    }
    
    .copyright{
        font-size: 20px;
    }


    .button {
        align-items: flex-start;
        padding:0px;
        border: 0px;
        width: 140px;
        height: 44px;
        color: white;
        background-color: #E02C6D;
    }
  }

